## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>


% if uses_bootstrap:

  <div class="container-fluid wrapper-footer">
    <footer>
     
    </footer>
  </div>
% else:
    <footer id="footer-openedx" class="grid-container footer"
      ## When rendering the footer through the branding API,
      ## the direction may not be set on the parent element,
      ## so we set it here.
      % if bidi:
        dir=${bidi}
      % endif
    >
    <div class="footer-container">
      <div class="footer-top">
        <div class="footer-left">
          <div class="footer-logo">
            <div class="wrapper-logo">
              <p>
                <a href="/">
                  ## The default logo is a placeholder.
                  ## You can either replace this link entirely or update
                  ## the FOOTER_ORGANIZATION_IMAGE in Django settings.
                  ## If you customize FOOTER_ORGANIZATION_IMAGE, then the image
                  ## can be included in the footer on other sites
                  ## (e.g. a blog or marketing front-end) to provide a consistent
                  ## user experience.  See the branding app for details.
                  <img alt="${_('organization logo')}" src="/static/indigo/images/logo.svg">
                </a>
              </p>
          </div>
           ## Please leave this link and use one of the logos provided
           ## The OpenEdX link may be hidden when this view is served
           ## through an API to partner sites (such as marketing sites or blogs),
           ## which are not technically powered by OpenEdX.
           % if not hide_openedx_link:
            <div class="footer-about-openedx">
              <p>
                <a href="/">
                  <a  href="${footer['openedx_link']['url']}" rel="noopener" target="_blank">
                    <img src="${static.url('images/openedx-logo.png')}" alt="${footer['openedx_link']['title']}" width="140" />
                  </a>
              </p>
            </div>
            %endif
          </div>         
        </div>
        
        <div class="footer-top-inner">
          <div class="inner">
            
            <div class="links">
              <div class="about-company links-container">
                <h6 class="fw-bold mb-4">Social media</h6>
                <div class="instagram links-with-icon d-flex align-items-center mb-2">
                  <a class="d-flex align-items-center" href="https://instagram.com/nialab2021"><i data-lucide="instagram" class="icon"></i>Instagram</a>
                </div>
              </div>
    
              <div class="jump-to links-container">
                <h6 class="mb-4 fw-bold">Browse</h6>
                <div class="mb-2 gap-y-4 flex-column d-flex" aria-label="${_('Legal')}">
                  <a class="links-with-icon mb-4 d-flex align-items-center" href="/tos" target="_blank"><i class="icon" data-lucide="book-open"></i>Terms of Service</a>
                  <a class="links-with-icon mb-4 d-flex align-items-center" href="/privacy" target="_blank"><i class="icon" data-lucide="shield"></i>Privacy Policy</a>
                  <a class="links-with-icon mb-4 d-flex align-items-center" href="https://nia.co.tz/manual"><i class="icon" data-lucide="book-open-text"></i>User manual</a>
                  <a class="links-with-icon mb-4 d-flex align-items-center" href="https://nia.tz/courses"><i class="icon" data-lucide="book"></i>Courses</a>
                </div>
         </p>
    
         % if context.get('include_language_selector', footer_language_selector_is_enabled()):
         <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
     % endif
              </div>

            </div>
          </div>
        </div>

        
      </div>
      
      <div class="footer-copyright mx-auto pb-3">
        <div class="divider"></div>
        ## Site operators: Please do not remove this paragraph! This attributes
            ## back to edX and makes your acknowledgement of edX's trademarks clear.
        <p class="copyright">${footer['copyright']}
          % if icp_license_info.get('icp_license'):
           ${u" | {text}".format(text=icp_license_info.get('text'))}
           <a href="${icp_license_info.get('icp_license_link', '#')}">
               ${u" {icp}".format(icp=icp_license_info.get('icp_license'))}
           </a>
         % endif
      </div>
    </div>

    </footer>
% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
