<div class="row z-50 home-overlay h-100 g-3 hero">
  <div class="circle-orn"><div class="circle-child"></div></div>
  <div class="col-md-2 heroLine d-flex justify-content-end">
    <div class="line"></div>
  </div>
  <div class="d-flex gap-y-4 hero-content flex-column justify-content-center">
    <div class="sub-header-container">
      <h2 class="hero-sub-header hero-title">Pata Ujuzi na</h2>
    </div>
    <h1 class="hero-header hero-title-2">Nia Lab</h1>
    <p class="heroPara">
      nia.tz ni website inayokuwezesha kujifunza kwa njia ya kujisomea mwenyewe
      mtandaoni. Pata maarifa kwa urahisi, popote ulipo, kwa wakati unaotaka!
    </p>

    <div class="hero-cta-container">
      <a class="hero-cta-btn" href="#courses-container" role="button"
      >Fikia Kikomo Chako
      <i class="hero-btn-chevron" data-lucide="chevron-right"></i
    ></a>
    </div>
  </div>
  <div
    class="d-flex nia-photo-container h-100 flex-column justify-content-center"
  >
    <img class="niaPhoto" src="/static/indigo/images/niaHeroPhoto.png" alt="" />
  </div>
</div>
